@use 'global' as *;
@use 'sass:math';

.c-text {
  font-size: rem(14);
  font-style: normal;
  letter-spacing: 0.04em;
  line-height: 1.8;
  text-align: justify;
  @include mq() {
    font-size: rem(16);
  }
}