@use "global" as *;

.p-footer {
  padding-block: rem(74) rem(28);
}

.p-footer__inner {
}



.p-footer__nav {
}

.p-footer__nav-items {
}

.p-footer__nav-item {
}

.p-footer__nav-link {
}

.p-footer__copyright {
  margin-top: rem(85);
  text-align: center;
}

.p-footer__copyright small {
}
