@use "global" as *;

.p-pagenavi .nav-links,
.p-pagenavi .wp-pagenavi {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: rem(17);
  @include mq() {
    gap: rem(22);
  }
}

.p-pagenavi .first,
.p-pagenavi .last,
.p-pagenavi .current,
.p-pagenavi .extend,
.p-pagenavi .page {
  @include mq() {
  }
}

// 「...」のスタイル
.p-pagenavi .extend {
  @include mq() {
  }
}

.p-pagenavi .current {
}


.p-pagenavi .previouspostslink,
.p-pagenavi .nextpostslink {
  display: inline-block;
  @include mq() {
  }
}

.p-pagenavi .previouspostslink {
  order: -1; // 位置を外側へ
  margin-right: rem(10);
  @include mq() {
    margin-right: rem(12);
  }
}

.p-pagenavi .nextpostslink {
  margin-left: rem(10);
  order: 2; // 位置を外側へ
  @include mq() {
    margin-left: rem(12);
  }
}


.p-pavinavi__prev,
.p-pavinavi__next {
  display: block;
  width: rem(18);
  height: auto;
  aspect-ratio: 1/ 1;
  background: no-repeat center / contain;
  @include mq() {
    width: rem(24);
  }
}

// 次へ・前へボタンを画像にする場合
.p-pavinavi__prev {
  background-image: url(../images/common/icon-arrow-right-orange2.svg);
  transform: scale(-1, 1);
}

.p-pavinavi__next {
  background-image: url(../images/common/icon-arrow-right-orange2.svg);
}

.p-pavinavi__prev.is-disabled {
  background-image: url(../images/common/icon-arrow-left-beige.svg);
  transform: scale(1, 1);
}

.p-pavinavi__next.is-disabled {
  background-image: url(../images/common/icon-arrow-left-beige.svg);
  transform: scale(-1, 1);
}
